<!DOCTYPE html>

<html ng-app='ngSnake'>

  <head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="css/snake.css">

  </head> 

  <body ng-cloak="true">
  <div class="col-sm-2 col-lg-4"></div>
    <div id="gameContainer" ng-controller="snakeCtrl as ctrl">

      <h3>Score: {{ctrl.score}}</h3>

      <div>

          <div class="row" ng-repeat="column in ctrl.board">

              <div class="column"

              ng-style="{'background-color': ctrl.setStyling($parent.$index, $index)}"    
              
                  ng-repeat="row in column track by $index"

              ></div>

          </div>

      </div>

      <div id="startGame" ng-click="ctrl.startGame()">Start Game</div>

    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
   
    <script src="app/snake.module.js"></script> 
    <script src="app/snake.controller.js"></script> 
  
  </body>

</html>